<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .missiontitle{
            margin-top: 100px;
            margin-left: 20px;
        }
        .division-line{
            margin-left: 20px;
            border-top: 1px solid #FAE8E1;
            border-width: 5px;
            width: 97%;
        }
        .content{
            margin-left: 20px;
            margin-top: 15px;
            display: flex;
            justify-content: left;
            color: rgb(111, 108, 108);
            font-size: small;
        }
        #wDate{
            margin-right: 20px;
        }
        #wID{
            margin-right: 20px;
        }

        .missionImage img{
            margin-top: 30px;
            margin-left: 20px;
            width: 80%;
            height: 80%;
        }
        .missionContent{
            margin-top: 20px;
            margin-left: 20px;
        }
        .button{
            margin-top: 40px;
            position: relative;
            left: 70%;
            width: 70px;
            height: 35px;
            border: none;
            background-color: #FAE8E1;
            font-weight: 1000;
            color: rgb(111, 108, 108);
        }
        #list{
            color: inherit;
            text-decoration: none;
        }
    </style>
    <title>Document</title>
</head>
<body>
    {{#post}}
    <div class="missiontitle">
        <h2>{{pname}}</h2>
    </div>
    <div class="division-line"></div>

    <div class="content">
        <span id="wDate">작성일 : 2023-07-22</span>
        <span id="wID">작성자 : 신박한 구양이</span>
        <span id="wViews">조회수 : 22</span>
    </div>
    <div class="missionImage">
        <img src="https://images.velog.io/images/luvlik207/post/b0d573fe-26f9-4ae5-b38a-fa0a48cc5ab3/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA%202021-05-08%20%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE%203.59.22.png">
    </div>

    <div class="missionContent">
        <span>{{pcontent}}</span>
    </div>
    <button class="button">수정</button>
    <button class="button">삭제</button>
    <button class="button">
        <a id="list" href="../salient/index.html">목록</a>
    </button>
    {{/post}}
</body>
</html>